body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0b3b57;
    color: #fff;
  }
  
  .header {
    background: #0b3b57;
    background-blend-mode: color;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  header.d-flex.align-items-center.fixed-top{
    background-color: #0b3b57;
  }
  
  .page-title {
    background: url('../images/page-title-bg.jpg') no-repeat center center / cover;
    background-attachment: fixed; /* This line ensures the background is fixed */
    padding: 60px 0;
    text-align: center;
    color: #fff;
  }
  
  .page-title h1 {
    margin: 0;
    font-size: 36px;
  }
  
  .breadcrumbs {
    margin-top: 10px;
  }
  
  .breadcrumbs ol {
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  
  .breadcrumbs li {
    display: inline;
    font-size: 16px;
  }
  
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .container-box {
    background-color: #d2a679;
    border-radius: 20px;
    padding: 20px;
    flex:1 1 45%;
    min-width: 300px;
    /* height:750px; */
  }
  
  .container-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    
  }
  
  .owner-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;

  }

  .owner-profile{
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  
  .owner-profile h3 {
    text-align: center;
    font-size: 20px;
  }
  
  .owner-profile p {
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 18px;
  }
  
  .btn-container button {
    background-color: #3f37c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form-group label {
    font-size: 14px;
    font-weight: 500;
  }
  
  .form-control {
    background: #fff;
    color: #333;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #0b3b57;
    color: #fff;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .dashboard-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .map-profile-section {
    display: flex;
    margin: 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
  